/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-right: 15px;
  padding-left: 15px;
}

.marketing {
  margin-top: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  padding-bottom: 19px;
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

/* Customize container */
@media (min-width: 768px) {
  .container {
    max-width: 730px;
  }
}
.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  padding: 14px 24px;
  font-size: 21px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-right: 0;
    padding-left: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}

/*********** my css ******************/
#top-link {
  position: fixed;
  bottom: 30px;
  right: 50px;
}

.filter {
  padding-bottom: 10px;
}

.pointer {
  cursor: pointer;
}

/* white */
.mverse0 {
  background-color: #FFFFFF;
}
/* moccasin */
.mverse1 {
  background-color: #FFE4B5;
}
/* pink */
.mverse2 {
  background-color: #FFC0CB;
}
/* coral */
.mverse3 {
  background-color: #FF7F50;
}
/* khaki */ 
.mverse4 {
  background-color: #F0E68C;
}
/* tan */
.mverse5 {
  background-color: #D2B48C;
}
/* lightblue */
.mverse6 {
  background-color: #ADD8E6;
}
/* yellowgreen */
.mverse7 {
  background-color: #9ACD32;
}
/* orchid */
.mverse8 {
  background-color: #DA70D6;
}
/* orange */
.mverse9 {
  background-color: #FFA500;
}
/* limegreen */
.mverse10 {
  background-color: #32CD32;
}

/* modal backdrop to be pitch black */
.in {
  background: rgba(0, 0, 0, 0.8);
}

.verse-header {
  margin-bottom: 5px;
}

ul.stars {
  display: inline;
  margin-left: 1px;
}

.stars li {
  display: inline;
  list-style-type: none;
  padding-right: 1px;
  padding-left: 1px;
}

ul.tags {
  display: inline;
  margin-left: 1px;
}

.tags li {
  display: inline;
  list-style-type: none;
  padding-right: 3px;
}

.tag .remove-tag {
  display: none;
}

.tag:hover .remove-tag {
  display: inline;
}

.search-term:hover {
  text-decoration: line-through;
}

.add-tag {
  padding-left: 3px;
}

.result {
  float: right;
}