<template name="goal">    
  <div class="progress">
    <div class="progress-bar" role="progressbar" aria-valuenow="{{memCount}}" aria-valuemin="0" aria-valuemax="{{total}}" style="width: {{percentage}}%;">
      <span class="pointer set-goal">{{percentage}}% ({{memCount}}/{{total}}) {{starNumber}} Stars</span>
    </div>
  </div>
  <div class="progress">
	  <div class="progress-bar progress-bar-success" role="progressbar" aria-valuenow="{{starNow}}" aria-valuemin="0" aria-valuemax="{{starMax}}" style="width: {{weekProgress}}%">
	    <span class="pointer set-goal">{{weekProgress}}% ({{starNow}}/{{starMax}}) Weekly Stars</span>
	  </div>
	</div>
</template>  

